$indigo-soft: #6F74DD;
$indigo: #3949AB;
$indigo-deep: #00227B;

$salmon-soft: #FFBCAF;
$salmon: #FF8A80;
$salmon-deep: #BB3F3F;

$red-passion: #B92D00;

$gray-soft: #AAAAAA;
$gray: #888888;

$white: #FFFFFF;