// Colores
$indigo-soft: #6F74DD;
$indigo: #3949AB;
$indigo-deep: #00227B;

$salmon-soft: #FFBCAF;
$salmon: #FF8A80;
$salmon-deep: #BB3F3F;

$red-passion: #B92D00;

$gray-soft: #AAAAAA;
$gray: #888888;

$white: #FFFFFF;
$black: #000000;

// Fuentes 

$Montserrat: 'Montserrat',
sans-serif;
$Raleway: 'Raleway',
sans-serif;



//BARRA DE NAVEGACIÓN

.nav {
  font-family: $Montserrat;
  
  &__container, &__link {
    @extend .nav;
    font-weight: 500;
    color: $gray;
    text-decoration: none;
  }

  &__link:hover {
    @extend .nav;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid $gray;
  }
}

// ENCABEZADO

.header {
  color: $black;
  font-weight: 500;

  &__title {
    @extend .header;
    font-family: $Montserrat;
    font-size: 32px;
  }

  &__subtitle {
    @extend .header;
    font-family: $Raleway;
    font-size: 24px;
  }
}

// IMAGEN LATERAL

// FORMULARIO

.section {
  

  &__title {
    @extend .section;
    color: $black;
    font-family: $Raleway;
    font-size: 16px;
    font-weight: 500;
  }

  &__input {
    @extend .section;
    background: $white;
    outline: 0;
    font-family: $Montserrat;
    padding: 0.35rem 0.5rem;
    font-weight: 600;
    border: 1px solid $gray-soft;
    color: $gray-soft;
    border-radius: 6px;

    &::placeholder {
      color: $gray-soft;
    }
  }

  &__button {
    @extend .section;
    height: 40px;
    width: 150px;
    outline: 0;
    border-radius: 10px;
    border: none;
    font-family: $Montserrat;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba($indigo-soft, 0.4);
    background: $indigo;
    color: $white;
     
    &:hover {
      background: rgba($indigo, 0.8);
      cursor: pointer;
    }  
  }
}

// FOOTER

.footer {
  font-family: $Montserrat;

  &__link {
    @extend .footer;
    font-weight: 500;
    color: $gray;
    text-decoration: none;

    &:hover {
      @extend .footer;
      padding-bottom: 0.25rem;
      border-bottom: 1px solid $gray;
    }
  }

}
























