// Colores
$indigo-soft: #6F74DD;
$indigo: #3949AB;
$indigo-deep: #00227B;

$salmon-soft: #FFBCAF;
$salmon: #FF8A80;
$salmon-deep: #BB3F3F;

$red-passion: #B92D00;

$gray-soft: #AAAAAA;
$gray: #888888;

$white: #FFFFFF;
$black: #000000;

// Fuentes 

$Montserrat: 'Montserrat',
sans-serif;
$Raleway: 'Raleway',
sans-serif;

// BODY

body {
  margin: 0;
}

// GRID LAYOUT

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3.2fr 4.5fr .4fr;
  grid-template-areas: "nav aside"
                       "header aside"
                       "section aside"
                       "footer aside";
}

//BARRA DE NAVEGACIÓN

.nav {
  font-family: $Montserrat;
  grid-area: nav;

  &__container {
    @extend .nav;
    display: flex;
    justify-content: flex-end;
  }
  
  &__container, &__link {
    @extend .nav;
    color: $gray;
    text-decoration: none;
  }

  &__link:hover {
    @extend .nav;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid $gray;
  }

  &__paragraph{
    @extend .nav;
    margin: 20px;
  }  
}

// ENCABEZADO

.header {
  color: $black;
  grid-area: header;

  &__container {
    @extend .header;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    @extend .header;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__title {
    @extend .header;
    font-family: $Montserrat;
    font-size: 32px;
    margin: 5px;
  }

  &__subtitle {
    @extend .header;
    font-family: $Raleway;
    font-size: 24px;
    margin: 0;
  }
}

// FORMULARIO

.section {
  
  grid-area: section;

  &__form {
    @extend .section;
    padding: 10px 70px 0px 70px;
  }

  &__label1 {
    @extend .section;
    display: flex;
    flex-direction: column;
  }

  &__btnContainer {
    @extend .section;
    display: flex;
    justify-content: center;
  }

  &__subcontainer {
    @extend .section;
    display: flex;
    justify-content: space-between;
  }

  &__label2, &__label3 {
    @extend .section;
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  &__labels {
    @extend .section;
    margin-bottom: 10px;
  }

  &__title {
    @extend .section;
    color: $black;
    font-family: $Raleway;
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__input {
    @extend .section;
    background: $white;
    outline: 0;
    font-family: $Montserrat;
    padding: 0.35rem 0.5rem;
    font-weight: 600;
    border: 1px solid $gray-soft;
    color: $gray-soft;
    border-radius: 6px;

    &::placeholder {
      color: $gray-soft;
    }
  }

  &__button {
    @extend .section;
    height: 40px;
    width: 150px;
    outline: 0;
    border-radius: 10px;
    border: none;
    font-family: $Montserrat;
    box-shadow: 0 3px 6px rgba($indigo-soft, 0.4);
    background: $indigo;
    color: $white;
    margin-top: 20px;
    
    
     
    &:hover {
      background: rgba($indigo, 0.8);
      cursor: pointer;
    }  
  }
}

// IMAGEN LATERAL

.aside {

  grid-area: aside;

  &__img{
    @extend .aside;
    height: 100vh;
    width: 100%;
  }
}

// FOOTER

.footer {
  font-family: $Montserrat;
  grid-area: footer;

  &__link {
    @extend .footer;
    color: $gray;
    text-decoration: none;
    margin-left: 15px;
    

    &:hover {
      @extend .footer;
      padding-bottom: 0.25rem;
      border-bottom: 1px solid $gray;
    }
  }
}




























