<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Index</title>
</head>

<body>
  <input class="input-primary" placeholder="Escribe algo" type="text">
  <button class="btn-primary">Click me!</button>
  <button class="btn-secondary">Click me!</button>
  <h1 class="title">Soy un título!</h1>
  <h2 class="subtitle"> Soy un subtítulo!</h2>
  <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum quod asperiores inventore
    reiciendis? Soluta nemo
    vel sed laudantium optio mollitia eos. Fugit laborum voluptates cum quidem autem aliquam at blanditiis.</p>
  <a class="link" href="#">Soy un link!</a>
</body>

</html>